.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

header {
  background-color: #646464;
  width: 100%;
  left:0;
  right:0;
}
/* --------------------------------------- PAGE INDEX login / inscritpion - box */
.option_box {
  border: 3px solid #646464;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px;
  cursor: pointer;
}

p {
  color: black;
  font-size: 1.2em;
}

.names {
  color: black;
  font-size: 1.2em;
}

.submit_button {
  background-color: #c8c8c8;
  border-radius: 8px; 
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.submit_button:hover {
  background-color: #646464;
  color: white;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.retour {
  color: white;
  text-shadow: 2px 2px 5px black;
}

/* --------------------------------------- PAGE LOGIN */  
.title_box {
  text-align: center;
  color: black;
  font-size: 0.7em;
}

.login_box {
  border: 3px solid #646464;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  cursor: pointer;
}

.label_class {
  font-size: 1.2em;
}

.box_link {
  text-align: center;
  display: block;
  margin-right: 4px;
}
/* --------------------------------------- PAGE SIGNUP inscription box */
.inscription_box {
  border: 3px solid #646464;
  border-radius: 8px;
  width: 50%;
  text-align: center;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 10px;
  cursor: pointer;
}
/* --------------------------------------- PAGE NEW LOGIN (après avoir rempli le formulaire d'inscription pour la 1ere fois*/
.title_succes {
  text-align: center;
  color: black;
  font-size: 1em;
}

p.connexion {
  text-align: center;
}
/* --------------------------------------- MENU BAR apres connexion */
.topnav {
  background-color: #646464;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #c8c8c8;
}

.topnav a.active {
  background-color: #969696;
  color: white;
}
/* --------------------------------------- PAGE ACCUEIL apres connexion*/
.title {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 1.2em;
}

.img_profile {
 width: 5%;
 float: right;
 margin-right: 10px;
}

.profil_connected {
  font-size: 1em;
  text-align: right;
  color: white;
}
/*-------------------------------- */
.sectionpresentations {
  background-color: #c8c8c8;
  background-size: cover;
  padding: 20px;
}

.presentation_title_h1 {
  font-size: 1.7em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.presentation_text {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 18px;
}

.groupes_list {
  text-align: left;
  display: table; 
  margin: 0 auto;
}
/*-------------------------------- */
.sectionact_part {
  background-color: #969696;
  background-size: cover;
  padding: 20px;
  margin-bottom: 30px;
}

.presentation_title_h2 {
  font-size: 1.4em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.container_lists {
 display: inline;
 display: flex;
 margin-left: auto;
 margin-right: auto;
 width: 80%;
}

ul {
  flex: 1;
}
/*-------------------------------- */
.row {
  display: inline;
  display: flex;
}


.presentation_title_h3 {
  text-align: right;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.sneakpeak_text {
 float: right;
 font-size: 18px;
}

.logo_partenaire {
float: right;
}

.read_more {
  color: white;
  text-shadow: 2px 2px 5px black;
}
/* --------------------------------------- PAGE ACTEURS commentaires, likes/dislikes */
.logo_acteur {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10px;
}

.presentation_act {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 16px;
}

.comment_box {
  margin-left: 300px;
}

.title_comments {
  font-size: 1.5em;
  text-align: left;
  color: #646464;
  text-decoration: underline;
}

.comment_everyone {
  margin-left: 100px;
}

#demo {
  max-width: 600px;
  margin: 0 auto;
}
.prow {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}
.ptxt { width: 100%; }
.plike, .pdislike {
  width: 80px; 
  cursor: pointer;
  color: #bbb;
}
/* --------------------------------------- PAGE MODIFIER LE PROFILE */
.edit_box {
  border: 3px solid #646464;
  border-radius: 8px;
  width: 80%;
  text-align:center;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

.title_edit {
  font-size: 1.5em;
  text-align: center;
  color: #646464;
  text-shadow: 2px 2px 5px white;
}

.modify_profile {
  text-align: center;
}
/* --------------------------------------- PAGE LOGOUT */
p.title_logout {
  text-align: center;
  font-size: 1em;
}
/* --------------------------------------- footer */
footer {
  position: fixed;
  background-color: #646464;
  width: 100%;
  height: 2.5em;
  bottom: 0;
  left:0;
  right:0;
}

p.copyright {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 1em;
  text-align: center;
  bottom:0;
}
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/*  REGLEMENTS POUR SMARPHONE ------------------------------------------------------------------------------ */
@media only screen and (max-width: 600px)
{
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  
  header {
    background-color: #646464;
    width: 100%;
    left:0;
    right:0;
  }

  .title {
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 5px black;
  }
  
  .option_box {
    border: 10px solid #646464;
    width: 90%;
    text-align: center;
    font-size: 4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
  }

  .names {
    color: black;
    font-size: 1.5em;
  }
  
  .submit_button {
    background-color: #c8c8c8;
    border-radius: 8px; 
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;
  }

  .insert_box {
    width: 90%;
    font-size: 1em;
  }

  .box_link {
    text-align: center;
    display: block;
    margin-right: 4px;
    font-size: 0.8em;
  }

  .title_box {
    text-align: center;
    color: black;
    font-size: 1em;
  }

  .back_link {
    font-size: 3em;
    margin-left: 10px;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
  }

  .profil_connected {
    font-size: 1em;
    text-align: right;
    color: white;
  }

  .img_profile {
    width: 10%;
    float: right;
    margin-right: 10px;
   }

   .sectionpresentations {
    background-color: #c8c8c8;
    background-size: cover;
    padding: 20px;
    font-size: 5em;
  }

  .presentation_text {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 0.7em;
  }

  .groupes_list {
    text-align: left;
    display: table; 
    margin: 0 auto;
    font-size: 0.7em;
  }

  .container_lists {
    display: table; 
    margin-right: 30px;
    width: 80%;
    font-size: 3em;
   }

  .logo_partenaire {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

  .presentation_title_h3 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 5em;
    }

  .row {
    display: inline;
  }

  .sneakpeak_text {
   text-align: center;
   font-size: 4em;
  }

  .logo_acteur_comment {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 50px;
  }
  
  .presentation_act {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 2em;
  }
  
  .comment_box {
    margin-left: 100px;
    width: 90%;
  }

  .name_mobile {
    font-size: 3em;
  }
  
  .insert_box_mobile {
    width: 90%;
    font-size: 3em;
  }

  .submit_button_mobile {
    background-color: #c8c8c8;
    border-radius: 8px; 
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4em;
    margin: 4px 2px;
    cursor: pointer;
  }

  .comment_everyone {
    text-align: right;
  }

  .vote_like {
    width: 70%;
    font-size: 2em;
  }
  .vote_dislike {
    width: 70%;
    font-size: 2em;
  }

  p.title_logout {
    text-align: center;
    font-size: 5em;
  }

  footer {
    position: fixed;
    background-color: #646464;
    width: 100%;
    height: 5em;
    bottom: 0;
    left:0;
    right:0;
  }
  
  p.copyright {
    position: absolute;
    width: 100%;
    color: white;
    font-size: 2em;
    text-align: center;
    bottom:0;
  }
}